%style{:type => "text/css"}
  :sass
    body
      background-color: #{BGCOLOR}

%script{:src => "file://#{Redcar::HtmlView.jquery_path}", :type => "text/javascript"}
%script{:src => "file://#{VIEW_ROOT}/index.js", :type => "text/javascript"}
%link{:href => "file://#{Redcar::HtmlView.default_css_path}", :media => "screen", :rel => "stylesheet", :type => "text/css"}
%link{:href => "file://#{VIEW_ROOT}/index.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}

%span#status

%span.tab REPL
#repl-window.window
  %span#repl
  %form
    %input#input{:type => "text"}

%span.tab Backtrace
.window
  %span#trace

.notebook
  %span#locals-tab.tab Local Variables
  %span#breakpoints-tab.tab{:class => "disabled"} Breakpoints
  .window
    %span#locals
    %span#breakpoints{:style => "display:none"}
